.home {
  padding-top: 7rem;
  background-color: #99d6f3;
}

#about {
  background-color: #ceeaf7;
}

#skill {
  background-color: #e8f5fc;
}

#skill {
  background-color: #f6fafc;
}

section {
  padding-top: 6rem;
}
